{% extends 'base.html' %}

{% block content %}
<h1>Wekun</h1>

{% if request.cookies.get('languaje') == 'en' %}
<p>Wekun es un proyecto de investigación que busca entender cómo distintas personas perciben el espacio público.
Con esta encuesta registramos las preferencias entre dos imágenes de espacios públicos.</p>

{% else %}
<p>Wekun es un proyecto de investigación que busca entender cómo distintas personas perciben el espacio público.
Con esta encuesta registramos las preferencias entre dos imágenes de espacios públicos.</p>

{% endif %}

{% if request.cookies.get('languaje') == 'en' %}
<h1>Fequently Asked Questions</h1>
{% else %}
<h1> Preguntas Frecuentes</h1>
{% endif %}



<ul>

<li>
{% if request.cookies.get('languaje') == 'en' %}
<strong>Why do you require the use of cookies?</strong> We use cookies to register a unic ID that allows us to match each answer to each users caracteristics but without breaking anonymity.
{% else %}
<strong>¿Por qué usan cookies?</strong> We use cookies to register a unic ID that allows us to match each answer to each users caracteristics but without breaking anonymity.
{% endif %}
</li>

</ul>



{% endblock %}