<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Wekun{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div id="container">
  <nav>
    <h1>Wekun</h1 >
    <ul>
        <li><a href="{{ url_for('auth.spanish') }}">Español</a>
        <li><a href="{{ url_for('auth.english') }}">English</a>
    </ul>
  </nav>
  <section class="content">
      {% block content %}{% endblock %}
  </section>
  <footer>
    {% if request.cookies.get('languaje') == 'en' %}
    <ul>
      <li><a href="{{ url_for('auth.index') }}">Home</a></li>
      <li><a href="{{ url_for('auth.welcome') }}">Instructions</a></li>
      <li><a href="{{ url_for('auth.register') }}">Change User</a></li>
      <li><a href="{{ url_for('auth.about_us') }}">About Wekun</a></li>
      <li><a href="{{ url_for('auth.contact') }}">Our Team</a></li>
    </ul>
    {% else %}
    <ul>
      <li><a href="{{ url_for('auth.index') }}">Inicio</a></li>
      <li><a href="{{ url_for('auth.welcome') }}">Instruccciones</a></li>
      <li><a href="{{ url_for('auth.register') }}">Nuevo Usuario</a></li>
      <li><a href="{{ url_for('auth.about_us') }}">Qué es Wekun</a></li>
      <li><a href="{{ url_for('auth.contact') }}">Nuestro Equipo</a></li>
    </ul>
    {% endif %}
  </footer>
</div>
</body>
</html>