{% extends 'base.html' %}

{% block content %}
<h1>
	{% if request.cookies.get('languaje') == 'en' %}
		Our Team
	{% else %}
		Nuestro Equipo
	{% endif %}
</h1>


<div class="contact-name">
	<h2>Ricardo <strong>Hurtubia</strong></h2>
</div>
<div class="contact-div">
	<div class="contact-picture">
		<img src="/static/rhg.jpg">
	</div>
	<div class="contact-info">
		<span class="afiliacion">
			{% if request.cookies.get('languaje') == 'en' %}
				Pontificia Universidad Católica de Chile</br>
				Department of Transport Engineering and Logistics, School of Engineering</br>
				Facultad de Arquitectura, Diseño y Estudios Urbanos</br>
			{% else %}
				Pontificia Universidad Católica de Chile</br>
				Departamento de Ingeniería de Transporte y Logística, Facultad de Ingeniería</br>
				Facultad de Arquitectura, Diseño y Estudios Urbanos</br>
			{% endif %}
		</span>
		<a class="page" href="http://www.hurtubia.cl/" target="_blank">hurtubia.cl/</a>
		<span class="link"></span>
	</div>

</div>


<div class="contact-name">
	<h2>Hans <strong>Lobel</strong></h2>
</div>
<div class="contact-div">
	<div class="contact-picture">
		<img src="/static/hans.png">
	</div>
	<div class="contact-info">
		
		<span class="afiliacion">
			{% if request.cookies.get('languaje') == 'en' %}
				Pontificia Universidad Católica de Chile</br>
				Department of Transport Engineering and Logistics, School of Engineering</br>
				Department of Computer Science, School of Engineering</br>
			{% else %}
				Pontificia Universidad Católica de Chile</br>
				Departamento de Ingeniería de Transporte y Logística, Facultad de Ingeniería</br>
				Departamento de Ciencias de la Computacipón, Facultad de Ingeniería</br>
			{% endif %}
		</span>
		<a class="page" href="" target="_blank"></a>
		<span class="link"></span>
	</div>

</div>


<div class="contact-name">
	<h2>Tomás <strong>Ramírez</strong></h2>
</div>

<div class="contact-div">
	<div class="contact-picture">
		<img src="/static/trs.jpg">
	</div>
	<div class="contact-info">
		<span class="afiliacion">
			{% if request.cookies.get('languaje') == 'en' %}
				Pontificia Universidad Católica de Chile</br>
				Department of Transport Engineering and Logistics, School of Engineering</br>
			{% else %}
				Pontificia Universidad Católica de Chile</br>
				Departamento de Ingeniería de Transporte y Logística, Facultad de Ingeniería</br>
			{% endif %}
		</span>
		<span class="page"></span>
		<span class="link"></span>
	</div>

</div>

<div class="contact-name">
	<h2>Tomás <strong>Rossetti</strong></h2>
</div>
<div class="contact-div">
	<div class="contact-picture">
		<img src="/static/rossetti.jpg">
	</div>
	<div class="contact-info">
		
		<span class="afiliacion">
			{% if request.cookies.get('languaje') == 'en' %}
				Pontificia Universidad Católica de Chile</br>
				Center of Sustainable Urban Development</br>
			{% else %}
				Pontificia Universidad Católica de Chile</br>
				Centro de Desarrollo Urbano Sustentable</br>
			{% endif %}
		</span>
		<span class="page"></span>
		<span class="link"></span>
	</div>

</div>


{% endblock %}