{% extends 'base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<form method="post">

	<div id="top">
		    <input type="hidden" name="cookie_category" value="{{ category }}" />
		{% if request.cookies.get('languaje') == 'en' %}
		<h2>Which place looks</h2>
    <select class="sel" name="category" id="sel">
            <option value="1">like a better to take a walk?</b>?</option>
            <option value="2">like a better place to live?</b></option>
            <option value="3">more boring?</b></option>
            <option value="4">more beautiful?</b></option>
            <option value="5">wealthier?</b></option>
    </select>
    	{% else %}
		<h2>¿Cuál le parece</h2>
    <input type="hidden" name="cookie_category" value="{{ category }}" />
    <select class="sel" name="category" id="sel">
            <option value="1">un mejor lugar <b>para caminar</b>?</option>
            <option value="2">un mejor lugar <b>para vivir?</b></option>
            <option value="3">un lugar <b>más aburrido?</b></option>
            <option value="4">un lugar <b>más bonito/agradable a la vista?</b></option>
            <option value="5">un lugar <b>de mayor nivel de ingresos?</b></option>
    </select>
    	{% endif %}
	</div>
    <div id="grid">
      <div class="img_choice" style="float: left">
        <!-- <input type="image" id = "image" src="/static/img/{{ photo1 }}.jpg" name="submit" value="image_1" width="100%" height="auto"> -->
        <input type="image" id = "image" src="/static/img/50f5e588fdc9f065f000698c.jpg" name="submit" value="image_1" width="100%" height="auto">
      </div>
      <div class="buttons" style="float: left">
        <input type="submit" class="round-btn" id="button_E" name="submit" value="=">
    	<input type="submit" class="round-btn" id="button_error" name="submit" value="X">
      </div>
      <div class="img_choice" style="float: right">
        <!-- <input type="image" src="/static/img/{{ photo2 }}.jpg" name="submit" value="image_2" width="100%" height="auto"> -->
        <input type="image" id = "image" src="/static/img/50f5e640fdc9f065f0006ba2.jpg" name="submit" value="image_1" width="100%" height="auto">
      </div>
    </div>

    <input type="hidden" name="image_1" value="{{ photo1 }}" />
    <input type="hidden" name="image_2" value="{{ photo2 }}" />
</form>

<script>
  var pregunta;
  pregunta = jQuery("input[name=cookie_category").val();
  jQuery("select > option[value="+ pregunta +"]").attr('selected','selected');
</script>
 
{% endblock %}