{% extends 'base.html' %}

{% block content %}

      <div class="instructions-responsive">
          <div class="text-above-instructions" id="text-responsive-0" style="display: none;">
            {% if request.cookies.get('languaje') == 'en' %}
                      <h2>Welcome!</h2>
                      <p>This survey aims to understand the factors that make you feel comfortable in public spaces.</p>
                      <p>Thank you for helping us!</p>
                      <a class="btn" id="next-responsive-0" href="#">Continue</a>
            {% else %}
                      <h2>Bienvenido!</h2>
                      <p>Con esta encuesta queremos entender qué te hace sentir a gusto en los espacios públicos.</p>
                      <p>¡Muchas gracias por participar!</p>
                      <a class="btn" id="next-responsive-0" href="#">Continuar</a>
            {% endif %}
          </div>

          <div class="text-above-instructions" id="text-responsive-0">
            {% if request.cookies.get('languaje') == 'en' %}
                      <h2>Tutorial</h2>
                      <p>To answer just click one image</p>
            {% else %}
                      <h2>Instrucciones</h2>
                      <p>Para contestar haga click sobre una imagen</p>
            {% endif %}
            <div class="diagram-instructions">
                  <div id="top" >
                        {% if request.cookies.get('languaje') == 'en' %}
                        <h2>Which place looks like a better place to walk?</h2>
                          {% else %}
                        <h2>¿Cuál le parece un mejor lugar para caminar?</h2>
                          {% endif %}
                  </div>
                  <div id="responsive-grid">
                        <div class="img_choice"  style="float: left">
                          <input type="image" id="next1" src="/static/img/50f5e588fdc9f065f000698c.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                        <div class="buttons" style="float: left; height: 1em;">
                        </div>
                        <div class="img_choice" style="float: right">
                          <input type="image" id="next1b" src="/static/img/50f5e640fdc9f065f0006ba2.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                   </div>
            </div>
            <a class="btn" id="next-responsive-0" href="#">Volver</a>
            <a class="btn" id="next-responsive-0" href="#">Siguiente</a>
          </div>
      </div>

<!-- -------------------------------------------------------------------------- -->

      <div class="instructions" id="text0">
            <div class="text-above-instructions">
              {% if request.cookies.get('languaje') == 'en' %}
                        <h2>Welcome!</h2>
                        <p>This survey aims to understand the factors that make you feel comfortable in public spaces.</p>
                        <p>Thank you for helping us!</p>
                        <a class="btn" id="next0" href="#">Continue</a>
              {% else %}
                        <h2>Bienvenido!</h2>
                        <p>Con esta encuesta queremos entender qué te hace sentir a gusto en los espacios públicos.</p>
                        <p>¡Muchas gracias por participar!</p>
                        <a class="btn" id="next0" href="#">Continuar</a>
              {% endif %}
            </div>
      </div>
      <div class="text-above-instructions" id="title-instructions" style="display: none; float: left; width:100%;">
        {% if request.cookies.get('languaje') == 'en' %}
                  <h2>Tutorial</h2>
        {% else %}
                  <h2>Instrucciones</h2>
        {% endif %}
      </div>
      <div class="instructions" id="text1" style="display: none;">
            <div id="btn-space">
              <a class="btn" id="back1" href="#">
              {% if request.cookies.get('languaje') == 'en' %}
                    Back
              {% else %}
                    Volver
              {% endif %}
              </a>
            </div>
            <div class="diagram-instructions">
                  <div id="top" >
                        {% if request.cookies.get('languaje') == 'en' %}
                        <h2>Which place looks like a better place to walk?</h2>
                          {% else %}
                        <h2>¿Cuál le parece un mejor lugar para caminar?</h2>
                          {% endif %}
                  </div>
                  <div id="tooltip">
                  <div id="grid">
                        <div class="img_choice"  style="float: left">
                          <input type="image" id="next1" src="/static/img/50f5e588fdc9f065f000698c.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                        <div class="buttons" style="float: left">
                        </div>
                        <div class="img_choice" style="float: right">
                          <input type="image" id="next1b" src="/static/img/50f5e640fdc9f065f0006ba2.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                   </div>
                   <div id="tooltiptext">
                        <span id="instructions-number">1</span>
                        <span id="instructions-text">
                        {% if request.cookies.get('languaje') == 'en' %}
                                To answer just click one image
                          {% else %}
                                Para contestar haga click sobre una imagen
                          {% endif %}
                        </span>

                   </div>
                   </div>
            </div>
            <div id="btn-space">
              <a class="btn" id="next1c" href="#">
              {% if request.cookies.get('languaje') == 'en' %}
                    Next
              {% else %}
                    Siguiente
              {% endif %}
              </a>
            </div>
      </div>



      <div class="instructions" id="text2" style="display: none;">
            <div id="btn-space">
              <a class="btn" id="back2" href="#">
              {% if request.cookies.get('languaje') == 'en' %}
                    Back
              {% else %}
                    Volver
              {% endif %}
              </a>
            </div>
            <div class="diagram-instructions">
                  <div id="top">
                        {% if request.cookies.get('languaje') == 'en' %}
                        <h2>Which place looks like a better place to walk?</h2>
                          {% else %}
                        <h2>¿Cuál le parece un mejor lugar para caminar?</h2>
                          {% endif %}
                  </div>
                  <div id="grid">
                        <div class="img_choice" style="float: left">
                          <input type="image" src="/static/img/50f5e588fdc9f065f000698c.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                        <div class="buttons" style="float: left">
                          <div id="tooltip">
                          <input type="submit" id="next2" class="round-btn" name="submit" value="=" style="background: #FF6F70;">

                          <div id="tooltiptext">
                            <span id="instructions-number">2</span>
                            <span id="instructions-text">
                            {% if request.cookies.get('languaje') == 'en' %}
                                  If you cannot decide because they look too similar, click "="
                            {% else %}
                                  En caso de pensar que son muy similares, puede hacer click en el símbolo "="
                            {% endif %}
                          </span>
                          </div>
                          </div>
                          <input type="submit" class="round-btn" name="submit" value="X">
                        </div>
                        <div class="img_choice" style="float: right">
                          <input type="image" id="next1b" src="/static/img/50f5e640fdc9f065f0006ba2.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                   </div>
            </div>
            <div id="btn-space">
              <a class="btn" id="next2b" href="#">
              {% if request.cookies.get('languaje') == 'en' %}
                    Next
              {% else %}
                    Siguiente
              {% endif %}
              </a>
            </div>
      </div>

      <div class="instructions" id="text3" style="display: none;">
            <div id="btn-space">
              <a class="btn" id="back3" href="#">
              {% if request.cookies.get('languaje') == 'en' %}
                    Back
              {% else %}
                    Volver
              {% endif %}
              </a>
            </div>
            <div class="diagram-instructions">
                  <div id="top">
                        {% if request.cookies.get('languaje') == 'en' %}
                        <h2>Which place looks like a better place to walk?</h2>
                          {% else %}
                        <h2>¿Cuál le parece un mejor lugar para caminar?</h2>
                          {% endif %}
                  </div>
                  <div id="grid">
                        <div class="img_choice" style="float: left">
                          <input type="image" src="/static/img/50f5e588fdc9f065f000698c.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                        <div class="buttons" style="float: left">
                          <input type="submit" id="" class="round-btn" name="submit" value="=">
                          <div id="tooltip">
                          <input type="submit" id="next3" class="round-btn" name="submit" value="X" style="background: #FF6F70;">

                          <div id="tooltiptext-down">
                            <span id="instructions-number">3</span>
                            <span id="instructions-text">
                            {% if request.cookies.get('languaje') == 'en' %}
                                  If there is an error that doesn't allow you to answer, please click "X"
                            {% else %}
                                  En caso de detectar un error que no le permita responder, por favor oprima el botón "X"
                            {% endif %}
                          </span>
                          </div>
                          </div>
                        </div>
                        <div class="img_choice" style="float: right">
                          <input type="image" id="next1b" src="/static/img/50f5e640fdc9f065f0006ba2.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                   </div>
            </div>
            <div id="btn-space">
              <a class="btn" id="next3b" href="#">
              {% if request.cookies.get('languaje') == 'en' %}
                    Next
              {% else %}
                    Siguiente
              {% endif %}
              </a>
            </div>
      </div>


      <div class="instructions" id="text4" style="display: none;">
            <div id="btn-space">
              <a class="btn" id="back4" href="#">
              {% if request.cookies.get('languaje') == 'en' %}
                    Back
              {% else %}
                    Volver
              {% endif %}
              </a>
            </div>
            <div class="diagram-instructions">
                  <div id="top">
                        <div id="tooltip1">
                        {% if request.cookies.get('languaje') == 'en' %}
                        <h2>Which place looks</h2>
                        <select class="sel" name="category" id="sel2" style="background: #FF6F70;">
                                <option value="1">like a better place to walk?</option>
                                <option value="2" href="#">like a better place to live?</option>
                                <option value="3">more boring?</option>
                                <option value="4">more beautiful?</option>
                                <option value="5">wealthier?</option>
                        </select>
                          {% else %}
                        <h2>¿Cuál le parece</h2>
                        <select class="sel" name="category" id="sel2" style="background: #FF6F70;">
                                <option value="1">un mejor lugar para caminar?</option>
                                <option value="2">un mejor lugar para vivir?</option>
                                <option value="3">un lugar más aburrido?</option>
                                <option value="4">un lugar más bonito/agradable a la vista?</option>
                                <option value="5">un lugar de mayor nivel de ingresos?</option>
                        </select>
                          {% endif %}
                          <div id="tooltiptext-down">
                            <span id="instructions-number">4</span>
                            <span id="instructions-text">
                              {% if request.cookies.get('languaje') == 'en' %}
                                        Also, you can change the question
                              {% else %}
                                        Si quieres, puedes cambiar la pregunta
                              {% endif %}
                            </span>
                          </div>
                        </div>
                  </div>
                  <div id="grid">
                        <div class="img_choice" style="float: left">
                          <!-- <input type="image" id = "image" src="/static/img/{{ photo1 }}.jpg" name="submit" value="image_1" width="100%" height="auto"> -->
                          <input type="image" src="/static/img/50f5e588fdc9f065f000698c.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                        <div class="buttons" style="float: left">
                          <input type="submit" class="round-btn" name="submit" value="=">
                        <input type="submit" class="round-btn" name="submit" value="X">
                        </div>
                        <div class="img_choice" style="float: right">
                          <!-- <input type="image" src="/static/img/{{ photo2 }}.jpg" name="submit" value="image_2" width="100%" height="auto"> -->
                          <input type="image" id="next1b" src="/static/img/50f5e640fdc9f065f0006ba2.jpg" name="submit" value="image_1" width="98%" height="auto">
                        </div>
                  </div>
            </div>
            <div id="btn-space">
              {% if request.cookies.get('languaje') == 'en' %}
                    <a class="btn" id="next5" href="{{ url_for('auth.register') }}">Start</a>
              {% else %}
                    <a class="btn" id="next5" href="{{ url_for('auth.register') }}">Comenzar</a>
              {% endif %}
            </div>           
      </div>



<script>

  $(document).ready(function(){

    $("#next0").click(function(){
      $("div#text0").hide();
      $("div#text1").show();
      $("div#title-instructions").show();
    });

    $("#next1").click(function(){
      $("div#text1").hide();
      $("div#text2").show();
    });

    $("#next1b").click(function(){
      $("div#text1").hide();
      $("div#text2").show();
    });

    $("#next1c").click(function(){
      $("div#text1").hide();
      $("div#text2").show();
    });

    $("#back1").click(function(){
      $("div#text1").hide();
      $("div#text0").show();
      $("div#title-instructions").hide();
    });

    $("#next2").click(function(){
      $("div#text2").hide();
      $("div#text3").show();
    });

    $("#next2b").click(function(){
      $("div#text2").hide();
      $("div#text3").show();
    });

    $("#back2").click(function(){
      $("div#text2").hide();
      $("div#text1").show();
    });

    $("#next3").click(function(){
      $("div#text3").hide();
      $("div#text4").show();
    });

    $("#next3b").click(function(){
      $("div#text3").hide();
      $("div#text4").show();
    });

    $("#back3").click(function(){
      $("div#text3").hide();
      $("div#text2").show();
    });

    $("#back4").click(function(){
      $("div#text4").hide();
      $("div#text3").show();
    });

  });  

</script>

{% endblock %}
