<!doctype html>
<title>{% block title %}PlacePulse UC{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>PlacePulse UC</h1>
  <ul>
    {% if session['userid'] != NULL %}
      <li><a href="{{ url_for('auth.register') }}">Log Out</a>
      <li><a href="{{ url_for('auth.home') }}">Encuesta</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
    {% block content %}{% endblock %}
</section>