{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}¿Cual de estos le parece...{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
    <select name="category">
            <option value="1">un mejor lugar <b>para caminar</b>?</option>
            <option value="2">un mejor lugar <b>para vivir?</b></option>
            <option value="3">un lugar <b>más aburrido?</b></option>
            <option value="4">un lugar <b>más bonito/agradable a la vista?</b></option>
    </select>

    <div id="grid" style="width: 100%; padding-bottom: 300">
      <div class="img_choice">
        <input type="image" src="/static/img/{{ photo1 }}.jpg" name="submit" value="image_1" width="100%" height="auto">
      </div>
      <div class="buttons">
        <div class="B"><input type="image" class="round" id="button_1" src="/static/left_arrow.svg" name="submit" value="image_1" width="30px"></div>
        <div class="B"><input type="image" class="round" id="button_E" src="/static/equal.svg" name="submit" value="equal" width="30px"></div>
        <div class="B"><input type="image" class="round" id="button_2" src="/static/right_arrow.svg" name="submit" value="image_2" width="30px"></div>
      </div>
      <div class="img_choice">
        <input type="image" src="/static/img/{{ photo2 }}.jpg" name="submit" value="image_2" width="100%" height="auto">
      </div>
    </div>

    <input type="hidden" name="image_1" value="{{ photo1 }}" />
    <input type="hidden" name="image_2" value="{{ photo2 }}" />
</form>
 
{% endblock %}