{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About you{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <h2>Gender</h2>
    <div>
      <input type="radio" name="gender" id="male" value="M" required>
      <label for="male">M</label>
      <input type="radio" name="gender" id="female" value="F" required>
      <label for="male">F</label>
    </div>
    <h2>Age</h2>
    <div>
      <input type="radio" name="age" id="1-10" value="1-10" required>
      <label for="1-10">0 - 10</label>
      <input type="radio" name="age" id="11-20" value="11-20" required>
      <label for="11-20">11-20</label>
      <input type="radio" name="age" id="21-30" value="21-30" required>
      <label for="21-30">21-30</label>
      <input type="radio" name="age" id="31-50" value="31-50" required>
      <label for="21-50">31-50</label>
    </div>
    <label for="country">Country</label>
    <input type="country" name="country" id="country" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}