{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}¿Quién eres?{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <h2>Gender</h2>
    <div>
      <input type="radio" name="gender" id="male" value="M" required>
      <label for="male">M</label>
      <input type="radio" name="gender" id="female" value="F" required>
      <label for="male">F</label>
    </div>
    <h2>Age</h2>
    <div>
      <input type="radio" name="age" id="male" value="M" required>
      <label for="male">M</label>
      <input type="radio" name="age" id="female" value="F" required>
      <label for="male">F</label>
      <input type="radio" name="age" id="female" value="F" required>
      <label for="male">F</label>
    </div>
    <label for="country">pais</label>
    <input type="country" name="country" id="country" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}