html { 
	font-family: sans-serif; 
	background: #343536; 
	padding: 1rem;
}
body { 
	max-width: 1080px;
	margin: 0 auto;
	border-radius:10px;
	min-width: 800px;
}

#container{
	position: relative;
}

nav { 
	background: #FF6F70;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 0.2em 0em 0.2em 1em;
	border-radius:10px 10px 0px 0px;
}

section{
	background: white;
	position: relative;
  	padding: 2em;
}

footer {
	background: #747576; 
	padding: 0.2em 0em 0.2em 1em;
	border-radius:0px 0px 10px 10px;
}

nav h1 { 
	color: white;
	flex: auto; 
	margin: 0;
	font-size: 20px;}

nav h1 a { 
	text-decoration: none; 
	padding: 0.25rem 0.5rem;
}

nav ul  { 
	display: flex; 
	list-style: none; 
	margin: 1em 1em 1em 1em; 
	padding: 0; 
	text-decoration: none; 
}

nav ul li a { 
	display: block; 
	padding: 0rem 0rem 0rem 0.5rem;
	color: white; 
}

footer ul  { 
	display: flex; 
	flex-direction: row;
	justify-content: center;
	list-style: none; 
	margin: 0.5em 1em 0.5em 1em; 
	padding: 0;
	top: 50%;
}

footer ul li a {
	padding: 1rem 1rem 1rem 1rem;
	color: white;
	text-decoration: none; 
}
footer ul li:hover { 
	color: black;
	background-color: #000000;
}

.btn{
	text-decoration: none;
	border: 2px solid white;
	border-radius:10px 10px 10px 10px;
	padding: 1em;
	margin: 1em;
	z-index: 3;
	color: #FF6F70;
	background: white;
	max-width: 400px;
}

a { color: white; }

#top{
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
	margin-top: 1em;
}

#top select{
	font-weight: bold;
	font-size: 16pt;
	margin-left: 0.3em;
	padding-left: 0.2em;
	background: Gainsboro;
	border: none;
	border-radius: 10px;
}

#top select * {
	font-weight: normal;
}

#top h2 {
	margin-bottom: 10px;
	margin-top: 10px;
}

#grid{
	display: flex;
  	flex-direction: row;
  	margin-bottom: 2em;
}

.img_choice{
	width: 45%;
}

.img_choice input{
	padding: 4px;
	box-shadow: 0px 6px 20px 2px grey;
}
.img_choice input:hover{
	box-shadow: 0px 3px 10px 1px grey;
	background: #FF6F70;
}

.buttons{
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.round-btn{
	width:2em;
	height: 2em;
	border-radius:100%;
	font-size: 175%;
	margin: 10%;
	min-width: 40px;
	min-height: 40px;
	border: none;
	background: Gainsboro;
	box-shadow: 1px 6px 20px 1px grey;
}
.round-btn:hover{
	box-shadow: 0px 3px 10px 1px grey;
	background: grey;
	background: #FF6F70;
}

.welcome-content{
	background: #FF6F7F;
	padding: 0.1em 2em 0.1em 2em;
	border-radius:0px 0px 10px 10px;
	position: relative;
	display: flex;
	min-height: 600px;
}
.instructions{
	display: flex;
	flex-direction: row;
	margin-top: 2em;
}

#btn-space{
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

#btn-space a {
	display: inline-flex;
}

.text-above-instructions{
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;

}

.text-above-instructions h2{
	font-size: 24pt;
}

.text-above-instructions p{
	font-size: 18pt;
}


.diagram-instructions{
	padding: 1em 4em 1em 4em;
	background: white;
	border-radius: 10px;
	margin-bottom: 2em;
}

.diagram-instructions #top{
margin-bottom: 5em;
margin-top: 2em;
}


.color-layer{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	background: #FFFFFF;
	opacity: 0.5;
	z-index: 1;
}

#instructions-number{
	padding: 0.5em 0.75em 0.5em 0.75em;
	margin-left: 0.5em;
	background: white;
	color: black;
	border-radius: 50%;
	font-size: 20pt;
	font-weight: bold;
	display: block;
}

#instructions-text{
	margin-left: 1.5em;
	display: block;
}

#tooltip {
	position: relative;
	display: inline-block;
	z-index: 3;
}

#tooltip1 {
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 3;
}

/* Tooltip text */
#tooltip #tooltiptext, #tooltip1 #tooltiptext {
	visibility: visible;
	width: 500px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	bottom: 103%;
	left: 50%; 
	margin-left: -270px; /* Use half of the width (120/2 = 60), to center the tooltip */
	font-size: 18pt;
	display: flex;
}

#tooltip #tooltiptext::after, #tooltip1 #tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}


/* Tooltip text */
#tooltip #tooltiptext-down, #tooltip1 #tooltiptext-down{
	visibility: visible;
	width: 400px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
 
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	top: 103%;
	left: 50%; 
	margin-left: -200px; /* Use half of the width (120/2 = 60), to center the tooltip */
	font-size: 18pt;
	display: flex;
}

#tooltip #tooltiptext-down::after, #tooltip1 #tooltiptext-down::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.content form { 
	display: flex;
	flex-direction: column;
}

.content label { 
	font-weight: bold; 
	width: 100%; 	
	font-size: 20px;
	color: #363534;
	background: none;
}

.item-register{
	display: inline-flex;
	flex-direction: row;
	background: WhiteSmoke;
	border: 2px solid none;
	border-radius: 10px;
	padding: 1em;
	margin: 0.5em;
}

.item-register .main-label{
	width: 40%;
	text-align:right;
	font-weight: bold;
	font-size: 20px;
	padding-right: 2em;

}

.item-register .round, .item-register .round-label{
	height: 1em;
	width: 1em;
	text-align:right;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;

}

.item-register .round-label{
	margin-right: 1em;

}

.item-register input, .item-register select{
	width: 50%;
	height: 1	em;
	text-align:right;
	font-weight: bold;
	font-size: 20px;
	background: lightgrey;
	border-radius: 10px;

}

@media screen and (max-width: 500px){
	html { 
		padding: 0rem;
	}

	body { 
		border-radius:0px;
		min-width: 200px;
		width: 100vw;
		height: 100vh;
	}
	nav {
		border-radius:0px 0px 0px 0px;
	}

	section{
	  	padding: 0em 1em 0.5em 1em;
	}

	footer {
		border-radius:0px 0px 0px 0px;
	}

	#top{
		flex-direction: column;
		margin-bottom: 1em;
		margin-top: 0em;
	}

	#top select{
		font-weight: bold;
		font-size: 16pt;
		margin-left: 0em;
		padding-left: 0.2em;
		background: Gainsboro;
	}

	#top h2{
		margin-top: 
	}

	#grid{
	  	flex-direction: column;
	  	margin-bottom: 0em;
	}

	.img_choice{
		height: 80%;
		width: 100%;
		padding-left: 2em;	
		padding-right: 2em;	
	}
	#image{
		height: 100%;
	}

	.buttons{
		width: 100%;
		height: 70px;
		display: flex;
		flex-direction: row;
	}
	.round-btn{
		width:50px;
		height: 50px;
		border-radius:100%;
		font-size: 150%;
		margin: 10%;
		min-width: 20px;
		min-height: 20px;
	}

}