#container{
	width: 960px;
	margin: 0px auto;
}
header{
	width: 100%;
	background: #363534;
}

section{
	width: 700px;
	float: left;
	background: blue;
}

aside{
	width: 260px;
	float: left;
	background: white;
}


@media screen and (max-width: 959px){
	#container{
	width: 100%;
	}
	section{
		width: 70%;
	}

	aside{
		width: 30%;
	}
}

@media screen and (max-width: 640px){
	#container{
	width: 100%;
	}
	section{
		width: 100%;
	}

	aside{
		width: 100%;
	}
}