html { 
	font-family: sans-serif; 
	background: lightgray; 
	padding: 1rem;
}
body { 
	max-width: 1080px;
	margin: 0 auto;
	background: white;
	border-radius:10px;
}
h1 { 
	font-family: sans-serif ;
	color: #363534; 
	margin: 0.3em 0.5em 0.1em 0.5em; 
}
a { color: white; }
nav { 
	background: #FF5252; 
	display: flex;
	align-items: center;
	padding: 0.2em 0em 0.2em 1em;
	border-radius:10px 10px 0px 0px;
}
nav h1 { 
	color: white;
	flex: auto; 
	margin: 0; }
nav h1 a { 
	text-decoration: none; 
	padding: 0.25rem 0.5rem;
}
nav ul  { 
	display: flex; 
	list-style: none; 
	margin: 0em 1em 0em 1em; 
	padding: 0; }

nav ul li a, nav ul li span, header .action { display: block; padding: 0rem 0rem 0rem 0.5rem; }
.content { 
	padding: 0.1em 0.5em 0.1em 0.5em;
}

.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

.content form { 
	margin: 0.5em ; 
	display: flex; 
	flex-direction: column;

}
.content label { 
	font-weight: bold; 
	color: #363534;
	margin-bottom: 0.5em;
}

.content input, .content textarea { 
	margin-bottom: 0.5em; }

input.danger { color: #cc2f2e; }


select { border: 23px; 
		border-color: white;
		font-family: sans-serif; 
		font-size: 1.5em; 
		text-align: center;
		background: lightgray;
	}

select:hover{
	background: #FFCDD2;
}

#grid{
	width: 100%;
	margin-top: 1em;
}
.img_choice{
	float: left;
	width: 47%;
}
.image{
	border: 2px; 
	border-color: white;
}

.buttons{
    color: #000000;
	width: 6%;
	display: flex;
	flex-direction: column;
}


.round{
	width:80%;
	height: 80%;
	margin-left: 10%;
	border-radius:100%;
}
.round:hover{
	background: #000000;
}

@media screen and (max-width: 640px){

	#grid{
	width: 100%;
	height: 100%;
	}
	.img_choice{
		width: 100%;
		height: 40%;
		float:left;
	}
	#image{
		height: 100%;
	}
	.buttons{
	height: 30px;
	width: 100%;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
	}
	.round{
		margin-left: 0;
		width:25px;
		height: 25px;
		border-radius:100%;
		margin-left: 15%;
	}
	h1,h2{
		font-size: 20px;
	}
	select{
		font-size: 20px;
	}
	#button_left{
		transform: rotate(90deg);
	}

	#button_right{
		transform: rotate(90deg);
	}

}